@model IEnumerable<Tera_Web.Entities.OrderObj>

@{
    ViewData["Title"] = "ListUser";
}

<h1>ListUser</h1>

<section class="content mt-5">
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-12">
                <div class="card mb-5">
                    <div class="card-header">
                        <h3 class="card-title">Registro de pedidos</h3>
                        <p class="text-danger">Nota*</p>
                        <p class="text-danger">Por favor, haga solo una orden por semana, si se le olvido a agregar o quiere<br />
                            editar, tienes una opncion al lado derecho de la orden para hacer cambios.</p>
                    </div>
                    <div class="card-body table-responsive">
                        <div class="pb-2">
                            <a href="@Url.Action("CreateOrder","Order")" class="btn btn-primary ml-auto" type="button" value=""><i class="fa-solid fa-plus"></i></a>
                        </div>
                        <table id="Table" class="table table-bordered table-hover table-striped">
                            <thead class="text-center">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.orderId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FullName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.orderDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.orderTotal)
                                    </th>
                                    <th class="text-center">Editar</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.orderId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FullName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.orderDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.orderTotal)
                                        </td>
                                        <td>
                                            <a href="@Url.Action("ListOrderDetailsUser","OrderDetail", new { orderId = item.orderId })" class="btn btn-primary px-2" type="" value="">
                                                <i class="fa-solid fa-list"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
