@model IEnumerable<Tera_Web.Entities.OrderObj>

<section class="content mt-5">
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-12">
                <div class="card mb-5">
                    <div class="card-header">
                        <h3 class="card-title">Registro de pedidos</h3>
                    </div>
                    <div class="card-body table-responsive">
                        <div class="pb-2">
                            <a href="@Url.Action("Register","Order")" class="btn btn-primary ml-auto" type="button" value=""><i class="fa-solid fa-plus"></i></a>
                        </div>
                        <table id="Table" class="table table-bordered table-hover table-striped">
                            <thead class="text-center">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.orderId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.orderUser)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.orderDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.orderTotal)
                                    </th>
                                    <th class="text-center">Editar</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.orderId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.orderUser)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.orderDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.orderTotal)
                                        </td>
                                        <td>
                                            <a href="@Url.Action("EditOrder","Order", new { ID = item.orderId })" class="btn btn-primary px-2" type="" value="">
                                                <i class="fas fa-angle-double-right"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Modal -->
<div class="modal fade" id="confirm-delete-modal" tabindex="-1" role="dialog" aria-labelledby="confirm-delete-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirm-delete-modal-label">Confirmar Eliminación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Estás seguro de que deseas eliminar este dato?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" id="confirm-delete-btn">Eliminar</button>
            </div>
        </div>
    </div>
</div>