@model Tera_Web.Entities.UserObj

@{
    ViewData["Title"] = "EditUser";
}

<section class="content mt-5">
    <div class="offset-4 container-fluid mt-5">
        <div class="row mt-5">
            <!-- left column -->
            <div class="col-md-4">
                <!-- general form elements -->
                <div class="">
                    <div class="card-header">
                        <h3 class="card-title pb-3 text-center">Edición de Usuario</h3>
                    </div>
                    @using (Html.BeginForm("EditUser", "User", FormMethod.Post))
                    {
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group pb-2">
                            @Html.HiddenFor(m => m.userId)
                            <label asp-for="userId" class="control-label"></label>
                            <input asp-for="userId" class="form-control" readonly disabled />
                            <span asp-validation-for="userId" class="text-danger"></span>
                        </div>
                        <div class="form-group pb-2">
                            <label asp-for="userGovId" class="control-label"></label>
                            @Html.TextBoxFor(m => m.userGovId, new
                        {
                        @class = "form-control",
                        @required = true,
                        @onkeyUp = "ConsultNameApi();"
                        })
                            <span asp-validation-for="userGovId" class="text-danger"></span>
                        </div>
                        <div class="form-group pb-2">
                            <label asp-for="userName" class="control-label"></label>
                            <input asp-for="userName" id="userName" class="form-control" readonly  />
                            <span asp-validation-for="userName" class="text-danger"></span>
                        </div>
                        <div class="form-group pb-2">
                            <label asp-for="userFirstSurname" class="control-label"></label>
                            <input asp-for="userFirstSurname" id="userFirstSurname" class="form-control" readonly />
                            <span asp-validation-for="userFirstSurname" class="text-danger"></span>
                        </div>
                        <div class="form-group pb-2">
                            <label asp-for="userSecondSurname" class="control-label"></label>
                            <input asp-for="userSecondSurname" id="userSecondSurname" class="form-control" readonly />
                            <span asp-validation-for="userSecondSurname" class="text-danger"></span>
                        </div>
                        <div class="form-group pb-2">
                            <label asp-for="userEmail" class="control-label"></label>
                            <input asp-for="userEmail" type="email" class="form-control" />
                            <span asp-validation-for="userEmail" class="text-danger"></span>
                        </div>
                        @Html.HiddenFor(m => m.userPassword)
                        @*<div class="form-group pb-2">
                            <label asp-for="userPassword" class="control-label"></label>
                            <input asp-for="userPassword" type="" class="form-control" />
                            <span asp-validation-for="userPassword" class="text-danger"></span>
                        </div>*@
                        <div class="form-group pb-2">
                            <label asp-for="userRoleId" class="control-label"></label>
                            <input asp-for="userRoleId" class="form-control" />
                            <span asp-validation-for="userRoleId" class="text-danger"></span>
                        </div>
                        <div class="form-group pb-3">
                            <label asp-for="userSiteId" class="control-label"></label>
                            <input asp-for="userSiteId" class="form-control" />
                            <span asp-validation-for="userSiteId" class="text-danger"></span>
                        </div>
                        <div class="form-group form-check pb-2">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="userActive" /> @Html.DisplayNameFor(model => model.userActive)
                            </label>
                        </div>

                        <div class="form-group">
                            <a href="@Url.Action("List","User")" class="btn btn-danger " type="button"><i class="fa-solid fa-arrow-left"></i></a>
                            <button type="submit" class="btn btn-success"><i class="fa-solid fa-check "></i></button>
                        </div>
                    }
                </div>
            </div>

        </div>
        <!--/.col (right) -->
    </div>
    <!-- /.row -->
</section>

<script src="~/js/ConsultNameApi.js"></script>