@model IEnumerable<Tera_Web.Entities.UserObj>

<section class="content mt-5">
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-12">
                <div class="card mb-5">
                    <div class="card-header">
                        <h3 class="card-title">Registro de usuarios</h3>
                    </div>
                    <div class="card-body table-responsive">
                        <div class="pb-2">
                            <a href="@Url.Action("Register","User")" class="btn btn-primary ml-auto" type="button" value=""><i class="fa-solid fa-plus"></i></a>
                        </div>
                        <table id="Table" class="table table-bordered table-hover table-striped">
                            <thead class="text-center">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.userGovId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.userName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.userFirstSurname)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.userSecondSurname)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.userEmail)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.userActive)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.roleName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.siteName)
                                    </th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @if (string.IsNullOrEmpty(item.userGovId))
                                            {
                                                <span class="text-center">-</span>
                                            }
                                            else
                                            {
                                                @Html.DisplayFor(modelItem => item.userGovId)
                                            }
                                        </td>
                                        <td>
                                            @if (string.IsNullOrEmpty(item.userName))
                                            {
                                                <span class="text-center">-</span>
                                            }
                                            else
                                            {
                                                @Html.DisplayFor(modelItem => item.userName)
                                            }
                                        </td>
                                        <td>
                                            @if (string.IsNullOrEmpty(item.userFirstSurname))
                                            {
                                                <span class="text-center">-</span>
                                            }
                                            else
                                            {
                                                @Html.DisplayFor(modelItem => item.userFirstSurname)
                                            }
                                        </td>
                                        <td>
                                            @if (string.IsNullOrEmpty(item.userSecondSurname))
                                            {
                                                <span class="text-center">-</span>
                                            }
                                            else
                                            {
                                                @Html.DisplayFor(modelItem => item.userSecondSurname)
                                            }
                                        </td>
                                        <td>
                                            @if (string.IsNullOrEmpty(item.userEmail))
                                            {
                                                <span class="text-center">-</span>
                                            }
                                            else
                                            {
                                                @Html.DisplayFor(modelItem => item.userEmail)
                                            }
                                        </td>
                                        <td class="text-center">
                                            @Html.DisplayFor(modelItem => item.userActive)
                                        </td>
                                        <td>
                                            @if (string.IsNullOrEmpty(item.roleName))
                                            {
                                                <span class="text-center">-</span>
                                            }
                                            else
                                            {
                                                @Html.DisplayFor(modelItem=> item.roleName)
                                            }
                                        </td>
                                        <td>
                                            @if (string.IsNullOrEmpty(item.siteName))
                                            {
                                                <span class="text-center">-</span>
                                            }
                                            else
                                            {
                                                @Html.DisplayFor(modelItem => item.siteName)
                                            }
                                        </td>
                                        <td class="text-center col-1">
                                            <a href="@Url.Action("EditUser","User", new { ID = item.userId })" class="text-warning px-2" type="" value=""><i class="fa-solid fa-file-pen"></i></a>
                                            <a href="#" class="text-danger px-2 delete-button" onclick="confirmDelete('@item.userId')" data-toggle="modal" data-target="#confirm-delete-modal"><i class="fa-solid fa-trash"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="confirm-delete-modal" tabindex="-1" role="dialog" aria-labelledby="confirm-delete-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirm-delete-modal-label">Confirmar Eliminación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>¿Estás seguro de que deseas eliminar este dato?</p>
                <input type="hidden" id="idModalHidden">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" id="confirm-delete-btn" onclick="ChangeUserActive();">Eliminar</button>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="~/js/emailexists.js"></script>